<p>This is the viewport! And you are probably <tt>{{me.name}}</tt>! Check out the {{#link-to 'editor'}}editor{{/link-to}}?</p>

{{#if 'warning'}}
  <div class='warning'>
    <p>WARNING: {{warning}}
  </div>
{{/if}}

<div class='viewport'>
  {{render 'map'     map}}
  {{render 'objects' map.objects}}
  {{render 'npcs'    map.npcs}}
  {{render 'me'      me}}
  {{partial 'conversation'}}
</div>

<button {{action 'reset'}}>Go back to the start</button>
