<p>This is the viewport! And you are probably {{name}}!</p>

<table>
  <tr>
    <td></td>
    <td><button {{action 'up'}}>^</button></td>
    <td></td>
  </tr>
  <tr>
    <td><button {{action 'left'}}>&lt;</button></td>
    <td></td>
    <td><button {{action 'right'}}>&gt;</button></td>
  </tr>
  <tr>
    <td></td>
    <td><button {{action 'down'}}>v</button></td>
    <td></td>
  </tr>
</table>

<div class='viewport' style='position: absolute'>
  {{render 'map'  map}}
  {{render 'me'   me}}
  {{render 'npcs' npcs}}
</div>


